.carrito-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}
.carrito-titulos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--sombra01);
    width: 100%;
}
.carrito-titulo{
    font-size: 24px;
    text-transform: uppercase;
}
.carrito-titulos-p1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}
.carrito-titulos-p2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 29vw;
    margin-left: 110px;
}
.carrito-total{
    display: block;
    width: 100%;
    font-size: xx-large;
    color: var(--turquoise);
    background-color: var(--green);
    text-align: right;
    margin: auto;
    padding: 0 10px;
}
.carrito-vacio{
    background-color: var(--sombra01);
    color: var(--turquoise);
    text-align: center;
}
.marg-top3{
    margin-top: 3em;
}