.carrito-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}
.carrito-titulos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: var(--sombra01);
    width: 100%;
        /* color: var(--orange2); */
    color: var(--blanco2);;
}
.carrito-titulo{
    font-size: 14px;
    text-transform: uppercase;
    /* color: var(--orange2); */
    /* color: var(--blanco2);; */
}
.carrito-titulos-p1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}
.carrito-titulos-p2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    margin-left: 10vw;
    margin-right: 1vw;
}
.carrito-total{
    display: block;
    width: 100%;
    font-size: xx-large;
    color: var(--turquoise);
    background-color: var(--green);
    text-align: right;
    margin: auto;
    padding: 0 10px;
}
.carrito-vacio{
    background-color: var(--sombra01);
    color: var(--turquoise);
    text-align: center;
}
.marg-top3{
    margin-top: 3em;
}
.monto-total{
    background-color: var(--turquoise);
    color: var(--black);
    margin-left: 20px;
    padding-left: 20px;
}

.carrito-acciones{
    margin: 10px 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.btn-accion-carrito{
    margin: 2px 5px;
}
.btn-vaciar-carrito{
    border: 1px solid var(--orange);
}
.btn-continuar{
    border: 1px solid var(--green);
}

.btn-comprar{
    border: 1px solid var(--turquoise);
}