* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*colores*/
  --black: #0f1a20ff;
  --black2: rgb(39, 46, 49);
  --blanco: #fafafaff;
  --blanco2: #a9a9a9ff;
  --blanco2t: #a9a9a988;
  --turquoise: #55dbcbff;
  --indigo: #8980f5ff;
  --orange: #e36414ff;
  --orange2: rgb(248, 175, 129);
  --green: #0f4c5cff;
  --fondo: #496f5dff;
  --sombra01: #22222255;
}

body {
  background-color: var(--fondo);
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: auto;
}

section{
  padding: 0px 5px;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}
h2 {
  font-size: 2.5em;
}

button {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  /* font-weight: 500; */
  font-family: inherit;
  background-color: var(--indigo);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--green);
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
